<ion-header>
    <ion-navbar>
      <ion-title>
        Inventario
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
   <h3>Lista de Productos</h3>
     <!-->

      // Ejemplo de como cargar un SELECT y crear cards a partir de todos los elementos de una clase o interfaz que viene desde HTTP
   <ion-list>
    <ion-item>
      <ion-label>Lista de Productos</ion-label>
      <ion-select [(ngModel)]="selectedValue">
        <ion-option *ngFor="let item of lista" [value]="item.id" class="producto-item">{{item.producto}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

   <ion-card class="cartas-s" *ngFor="let item of lista">
    <ion-card-header>
      <h2>{{item.producto}}</h2>
      <p>Precio: {{item.precio}}</p>
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>
  <!-->
    
 

   <ion-list>
    <ion-item-sliding *ngFor="let item of lista" >
      <ion-item (click)="onClick(item)">
        <h2>{{item.producto}}</h2>
        <p>Precio: {{item.precio}}</p>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button color="danger" (click)="onClick(item)">
              <ion-icon name="add"></ion-icon>
              Ver
            </button>
        <button ion-button color="primary" (click)="onEditar(item)">
          <ion-icon name="create"></ion-icon>Editar</button>
        <button ion-button color="danger" (click)="onEliminar(item)">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </ion-content>